<%- include('../partials/navbar') %>
<div class="container">
   <h4>Manage Floor Plan</h4><hr>
   <table class="table">
  <thead>
    <tr>
      <th scope="col">BLOCK</th>
      <th scope="col">FLOOR</th>
      <th scope="col">UPLOADED FLOOR PLAN</th>
      <th scope="col">RE-UPLOAD FLOOR PLAN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= hosteldata.hostel_name %></td>
      <td><%= floordata.floor %></td>
      <td><a target="_blank" href="<%= floordata.link %>">VIEW</a></td>
      <td><form method="POST" action="/modify-floor-plan">
        <div class="mb-3"><input class="form-control" name="new_image" type="file"></div>
         <input class="btn btn-outline-danger" type="submit" value="SUBMIT">
      </form></td>
    </tr>
  </tbody>
  </table>
  
</div>
<%- include('../partials/footer') %>
