<%- include('../partials/navbar') %>
<div class="container">
   <h4>BLOCK DETAILS</h4>
  <hr>
  <table class="table">
    <tbody>
      <thead>
        <tr>
          <th>BLOCK</th>
          <th>TYPE OF BLOCK (AC/NON-AC)</th>
          <th>TYPE OF BED ROOMS AVAILABLE</th>
          <th>BED TYPE</th>
          <th>ACTION</th>
        </tr>
      </thead>

      <tr>
        <td><%= hosteldata.hostel_name %></td>
        <td><%= hosteldata.hostel_type %></td>
        <td><%= hosteldata.hostel_bed_availability %></td>
        <td><%= hosteldata.hostel_bed_type %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <h4>FLOOR PLANS</h4>
  <hr>
  <table class="table">
    <tbody>
      <thead>
        <tr>
         
          <th>FLOOR</th>
          <th>VIEW FLOOR PLAN</th>
        </tr>
      </thead>
<% if(floordata && floordata.length>0){ %>
  <% floordata.forEach(function(floordata){ %>
      <tr>
        
      <td><%= floordata.floor %></td>
      <td><a href="<%= floordata.link %>" target="_blank"><i class="bi bi-eye-fill"></i></a></td>
      </tr>
      <% }) %>
      <% } %>
    </tbody>
  </table>
<h4>ROOMS</h4>
  <hr>
  <table class="table">
    <tbody>
      <thead>
        <tr>
         
          <th>ROOM NUMBER</th>
          <th>SPEED TEST</th>
          <th>REMARKS</th>
          <th>SUBMITTED BY</th>
        </tr>
      </thead>

      <tr>
        
      
      </tr>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>
