<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/view/hostel/<%= hosteldata.hostel_id %>"><%= hosteldata.hostel_name %></a></li>

    <li class="breadcrumb-item" aria-current="page"><%= floorplan.floor %></li>
  </ol>
</nav>
    <div class="container">

    <table class="table">
      <tbody>
        <tr>
          <td><b>Viewing Floor Plan of <%=hosteldata.hostel_name %> Block's <%= floorplan.floor %>st Floor</b></td>
        </tr>
        <tr>
          <td><img src="<%= floorplan.link %>" width="50%" height="50%"></img></td>
        </tr>
       
        
      </tbody>
    </table>
    <hr>
<form action="/fetch-room-details" method="POST">
  <div class="mb-3">
    <input type="hidden" name="hostelid" value="<%= hosteldata.hostel_id %>">
    <input type="hidden" name="floorid" value="<%= floorplan.id %>">

    <label for="roomSelect" class="form-label">Select Room</label>
<select class="form-select" required id="roomSelect" name="room_id" aria-label="Room select">
  <% if (roomdata && roomdata.length > 0) { %>
    <% roomdata.forEach(roomoptions => { %>
      <option value="<%= roomoptions.room_id %>"><%= roomoptions.room_number %></option>
    <% }); %>
  <% } else { %>
    <option disabled selected>No rooms available</option>
  <% } %>
</select>

  </div>
 
 
  <input type="submit" value="Fetch" class="btn btn-primary">
</form>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
