<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Home</a></li>
  </ol>
</nav>

    <table class="table">
      <tbody>
        
        <tr>
          <td><img src="<%= floorplan.link %>" width="50%" height="50%"></img></td>
        </tr>
       
        
      </tbody>
    </table>
    <hr>
<form action="/fetch-room-details" method="POST">
  <div class="mb-3">
    <input type="hidden" name="floorid" value="<%= floorplan.id %>">

    <label for="roomSelect" class="form-label">Select Room</label>
<select class="form-select" required id="roomSelect" name="room_id" aria-label="Room select">
  <% if (roomdata && roomdata.length > 0) { %>
    <% roomdata.forEach(roomoptions => { %>
      <option value="<%= roomoptions.room_id %>"><%= roomoptions.room_number %></option>
    <% }); %>
  <% } else { %>
    <option disabled selected>No rooms available</option>
  <% } %>
</select>

  </div>
 
 
  <input type="submit" value="Fetch" class="btn btn-primary">
</form>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
