<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Hostel Dekho</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/" class="text-decoration-none">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <%= hosteldata.hostel_name %>
          </li>
        </ol>
      </nav>

      <h4>BLOCK DETAILS</h4>
      <hr />
      <table class="table">
        <tbody>
          <tr>
            <td><b>Hostel</b></td>
            <td><b>Type</b></td>
            <td><b>Type of Bedrooms Available</b></td>
            <td><b>Bed Type</b></td>
          </tr>
          <tr>
            <td><%= hosteldata.hostel_name %></td>
            <td><%= hosteldata.hostel_type %></td>
            <td><%= hosteldata.bed_availability %></td>
            <td><%= hosteldata.bed_type %></td>
          </tr>
        </tbody>
      </table>

      <h4>FLOOR PLANS</h4>
      <hr />

      <% if(floorplan && floorplan.length > 0){ %>
        <div class="row">
          <% floorplan.forEach(function(floor,index){ %>
            <div class="col-md-3 mb-4">
              <div class="card h-100">
                <div class="card-header"><b><%= floor.floor %></b></div>
                <div class="card-body">
                  <img src="<%= floor.link %>" class="img-fluid"/>
                  <hr />
                  <a href="/view/hostel/<%= hosteldata.hostel_id %>/floor-plan/<%= floor.id %>" class="btn btn-primary">
                    Explore <i class="bi bi-arrow-right-circle-fill"></i>
                  </a>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      <% } else { %>
        <p>No Floor Plans available!</p>
      <% } %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
