<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= hosteldata.hostel_name %></li>
  </ol>
</nav>
    <h3>Hostel Details</h3>
    <hr />
    <table class="table">
      <tbody>
        <tr>
          <td><b>Name</b></td>
          <td><%= hosteldata.hostel_name %></td>
        </tr>
        <tr>
          <td><b>Type</b></td>
          <td><%= hosteldata.hostel_type %></td>
        </tr>
        <tr>
          <td><b>Type of Bedrooms Available</b></td>
          <td><%= hosteldata.bed_availability %></td>
        </tr>

        <tr>
          <td><b>Bed Type</b></td>
          <td><%= hosteldata.bed_type %></td>
        </tr>
      </tbody>
    </table>
    <h3>Floor Plans</h3>
    <hr />
    <table class="table">
      <tbody>
        <tr>
                <% if(floorplan && floorplan.length>0){ %> <% floorplan.forEach(function(floor){ %>

          <td><a href="/view/hostel/<%= hosteldata.hostel_id %>/floor-plan/<%= floor.id %>" type="button" class="btn btn-outline-warning"><%= floor.floor %></a></td>
                <% }); %>

        </tr>
      </tbody>
    </table>
    <% } else { %>
    <h4>No Floor Plans available!</h4>
    <% } %> <%- include('partials/footer') %>
  </body>
</html>
