<%- include('dashboard/partials/navbar') %>

<div class="container">
  <div class="alert alert-primary" role="alert">
    <b>Welcome, <%= user.name %></b> &nbsp;<a
      href="/logout"
      class="btn btn-outline-danger"
      type="button"
      >Logout</a
    >
  </div>
  <form action="/update-profile" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Select Block</label>

      <select
        class="form-select"
        name="block"
        aria-label="Default select example"
      >
        <% data.forEach(function(hosteldata) { %>
        <option value="<%= hosteldata.hostel_id %>">
          <%= hosteldata.hostel_name %>
        </option>
        <% }); %>
      </select>
    </div>

  
    <input type="submit" value="Set Profile" class="btn btn-primary" />
  </form>
</div>

<%- include('partials/footer') %>
